* {
  box-sizing: border-box;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  scroll-behavior: smooth;
}
* body {
  margin: 0;
  font-family: "Kanit", sans-serif;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  height: 100px;
  font-family: "Bangers", cursive;
}
nav a {
  cursor: pointer;
  text-decoration: none;
  font-size: 2em;
  color: #FFF;
}
nav a:hover {
  font-size: 2.5em;
  color: red;
}
nav img#logo {
  height: 200px;
  width: 200px;
}

.formPareil {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.actusite {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 20px;
  padding: 20px;
  min-height: 200px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  overflow: hidden;
  color: #FFF;
  background: linear-gradient(black, red, black);
}
.actusite:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

#foreach {
  text-align: center;
  font-weight: 400;
}
#foreach section {
  margin-top: 20px;
}
#foreach section a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

#foreach2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  font-weight: 400;
  font-size: xx-large;
}
#foreach2 a {
  text-decoration: none;
  color: #f2f2f2;
  font-size: x-large;
}
#foreach2 a:hover {
  font-weight: 600;
  font-size: xx-large;
}
#foreach2 .btn button {
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background: none;
  text-decoration: none;
  margin-top: 50px;
}
#foreach2 .btn button a {
  text-decoration: none;
  font-size: x-large;
  color: #f2f2f2;
  font-family: "Bangers", cursive;
}
#foreach2 .btn button a:hover {
  font-size: xx-large;
}

.btn {
  font-size: xx-large;
}

.bodysite {
  height: 100vh;
  margin: 20px;
  padding: 20px;
  min-height: 200px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  overflow: hidden;
  color: #FFF;
  background: linear-gradient(black, red, black);
}
.bodysite:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  height: 50px;
  width: 100%;
  font-family: "Bangers", cursive;
}
footer p {
  cursor: pointer;
  color: #FFF;
}

input {
  border-radius: 10px;
  padding: 2px;
  border: solid 1px black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.subBtn {
  background-color: black;
  color: #f2f2f2;
  border: none;
  padding: 10px;
  font-size: larger;
  font-family: "Bangers", cursive;
}
.subBtn:hover {
  color: red;
  border: none;
  font-size: x-large;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: xxx-large;
}

#accueil {
  font-size: xx-large;
  font-weight: 600;
}

.cardenchere {
  padding: 20px;
  display: grid;
  text-align: center;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  overflow: hidden;
  background: radial-gradient(red, black);
}
.cardenchere:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 600px;
  background: #f2f2f2;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #d0d0d0;
}

.content {
  position: absolute;
}

h1 {
  font-weight: 900;
  text-align: center;
}

h3 {
  font-weight: 300;
}

.flap {
  width: 100%;
  height: 100%;
}

.flap::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  background: black;
  background-position: 100px;
  background-repeat: no-repeat;
  transition: 1s;
}

.flap::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  right: 0;
  background: black;
  background-position: -200px;
  background-repeat: no-repeat;
  transition: 1s;
}

.container:hover .flap::after {
  transform: translatex(300px);
}

.container:hover .flap::before {
  transform: translatex(-300px);
}/*# sourceMappingURL=style.css.map */