
*{box-sizing: border-box;
    outline: none;
    user-select: none;
    scroll-behavior:smooth;
    margin: 0;
    body{
        
        margin:0;
        font-family: 'Kanit', sans-serif;
    
    }
    // font-family: 'Dancing Script', cursive;
    // font-family: 'Bangers', cursive;
    // font-family: 'Special Elite', cursive;
    // font-family: 'Codystar', cursive;
    // font-family: 'Kanit', sans-serif;
// font-family: 'Londrina Outline', cursive;
// font-family: 'Pacifico', cursive;
// font-family: 'Permanent Marker', cursive;
// font-family: 'Press Start 2P', cursive;
// font-family: 'Supermercado One', cursive;
// font-family: 'Twinkle Star', cursive;

}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    height: 100px;
    font-family: 'Bangers', cursive;
    
    a{
        cursor: pointer;
        text-decoration: none;
        font-size: 2em;
        color: #FFF;
        
        &:hover{
            font-size: 2.5em;
            color: red;
        }
    }
    img#logo{
        height: 200px;
        width: 200px;
       
   }

}    

.formPareil{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    // margin: 0;

    // background-color: red;
}





.actusite{
    padding: 16% 0 5%;   
    position: relative;
    z-index: 2;
    background: url(https://img-4.linternaute.com/JLKw5PYU8I_JP9POLIQAqBdhLMg=/1500x/smart/fac6d59eb91a44e886947968af8ecb2e/ccmcms-linternaute/21413766.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 20px;
    min-height: 100vh;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    overflow: hidden;
    color: #FFF;
    &:hover{
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
transform: scale(1.01);
    }
    &:after{position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: -webkit-linear-gradient(-30deg, red 0%, black 100%);
        opacity: .8;
        z-index: -1;}
        
}

#foreach{
   text-align: center;
    font-weight: 400;
    section{
        margin-top: 20px;
        a{
            cursor: pointer;
            text-decoration: none;
            color: black;}
    }
}


#foreach2{display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    font-weight: 400;
    font-size: xx-large;
    a{
        text-decoration: none;
        color: #f2f2f2;
        font-size: x-large;
        &:hover{
            font-weight: 600;
            font-size: xx-large;
        }
    }
    .btn{
        button{
            cursor: pointer;
            border-radius: 10px;
            border: none;
            background: none;
            text-decoration: none;
            margin-top: 50px;
            
            a{text-decoration: none;
                font-size: x-large;
                color:#f2f2f2;
                font-family: 'Bangers', cursive;
            &:hover{
                
                font-size: xx-large;
            }}
        }
    }
}

.btn{font-size: xx-large;}
.bodysite{
    padding: 16% 0 5%;
       
        position: relative;
        z-index: 2;
        min-height: 100vh;
        background: url(https://img-4.linternaute.com/JLKw5PYU8I_JP9POLIQAqBdhLMg=/1500x/smart/fac6d59eb91a44e886947968af8ecb2e/ccmcms-linternaute/21413766.jpg) no-repeat center center;
background-size: cover;
    height: 100vh;
    margin: 20px;
    // padding: 20px;
    // min-height: 200px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    overflow: hidden;
    color: #FFF;
    // background: linear-gradient(black,red,black);
    &:hover{
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
    }

    &:after{position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: -webkit-linear-gradient(-30deg, red 0%, black 100%);
        opacity: .8;
        z-index: -1;}
}


footer{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    height: 50px;
    width: 100%;
    font-family: 'Bangers', cursive;
    p{
        cursor: pointer;
        color: #FFF;
        
    }
}


input{
    border-radius: 10px;
    padding: 2px;
    border: solid 1px black;
    
    // transform: translateY(-30%);
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }


    .subBtn{
        margin-top: 25px;
        background: -webkit-linear-gradient(-30deg, red 0%, black 100%);
        color: #f2f2f2;
        border: none;
        padding: 10px;
        font-size: larger;
        font-family: 'Bangers', cursive;
        &:hover{
            background: -webkit-linear-gradient(-30deg, black 0%, red 100%);
            color:#f2f2f2;
            border: none;
            font-size:x-large;
        }
    }



h1{
   margin-bottom: 25px;
    text-align: center;
    font-size: xxx-large;}

#accueil{
    font-size: xx-large;
    font-weight: 600;
}

.cardenchere{
    padding: 20px;
    display: grid;
    text-align: center;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    overflow: hidden;
    background: radial-gradient(red, black);
    &:hover{
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
    }
}



.container  {
    // position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(18%, 20%);
    height: 400px;
    width: 600px;
    // background: #f2f2f2;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 20px 2px black;
  }
  
  .content {
    position: absolute;
    color: #f2f2f2;
  }
  
  h1 {
    font-weight: 900;
    text-align: center;
  }
  
  h3 {
    font-weight: 300;
  }
  
  .flap {
    width: 100%;
    height: 100%;
  }
  
  .flap::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    background: black;
    background-position: 100px;
    background-repeat: no-repeat;
    transition: 1s;
  }
  
  .flap::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    right: 0;
    background: black;
    background-position: -200px;
    background-repeat: no-repeat;
    transition: 1s;
  }
  
  .container:hover .flap::after {
    transform: translatex(300px);
  }
  
  .container:hover .flap::before{
    transform: translatex(-300px);
  }

  #formAnnonce{
    margin-left: 25%;
  }



 
  