
*{box-sizing: border-box;
    background-color: black;
    body{
        margin:0;
    }
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    height: 30px;
    a{
        cursor: pointer;
        text-decoration: none;
        color: #FFF;
        
        &:hover{
            background-color: red;
        }
    }
    img#logo{
        height: 100px;
        width: 100px;}

}    

